body {
    background-color: #b3e0ff;
}

.form-pad {
    padding: 1rem;
}

.form-post {
    background-color: white;
    margin: auto;
    margin-top: 2rem;
    max-width: 50rem;
    padding: 1rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: white;
}